@import "../scss/_main.scss";
.task {
  // add task
  // padding-top: 24px;
  // outline: 1px solid #f00;
  background-color: $grey_light;
  box-shadow: 0 4px 4px 0 $grey;
  border-radius: 5px;

  .add_task {
    margin-bottom: 8px;
    background-color: $base_white;
    width: $max_width;
    height: 65px;
    border-bottom: 3px solid $grey;
    position: relative;
    cursor: pointer;

    &:after {
      content: "＋ Add Task";
      position: absolute;
      top: 19px;
      left: 42px;
      display: block;
      line-height: 24px;
    }
  }
  // preview task
  .preview_task {
    width: $max_width;
    height: 76px;  // 102px while no_show
    background-color: $rice_white;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 72px;

    & > div {
      display: inline-block;
      vertical-align: top;
    }

    .fa_checkbox {
      width: auto;
      height: 100%;
      margin-right: 16px;
    }

    .title {
      span {
        width: 248px;
        line-height: 28px;
        display: inline-block;
        height: 28px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .function_group {
      font-size: 24px;
    }
  }

  .edit_section {
    height: 443px;
  }
}

.task.new_task {
  .preview_task {
    display: none;
  }
}

.task.task_with_data {
  .add_task {
    display: none;
  }
}
