// base
.title {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 24px;
  color: #000000;
}
.subTitle {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 20px;
  color: #000000;
}

p {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 24px;
}

.remark {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: #757575;
  line-height: 24px;
}

.placeholder {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: #757575;
  line-height: 24px;
}

.status {
  font-family: 'Roboto-Italic', sans-serif;
  font-size: 24px;
  color: #C8C8C8;
}
